<div class="ui two column doubling stackable grid container">
  <div class="column">
    <p>Edit area</p>
    <div>
      <canvas #myCanvas></canvas>
      <img #myImage src="../assets/img/test1.gif" style="margin-left: -300px">
    </div>
  </div>
  <div class="column">
    <p>this is test</p>
    <p>
      <label>Input words: </label>
      <input type="text" #myInput/>
    </p>
    <button class="ui primary basic button" (click)="onGenerate(myInput.value)">generate</button>
  </div>
</div>



